svg(width='64', height='64', viewbox='0 0 64 64', xmlns='http://www.w3.org/2000/svg')
  title video
  g(fill-rule='evenodd')
    path(d='M0 0v64h64V0H0zm61.935 61.935H2.065V10.323h59.87v51.612zm0-53.677H2.065V2.065h59.87v6.193z')
    path(d='M4.129 4.129h2.065v2.065H4.129zm4.129 0h2.065v2.065H8.258zm4.129 0h2.065v2.065h-2.065zm47.484 8.258H4.129v35.097h55.742V12.387zM57.806 45.42H6.194V14.452h51.612v30.967z')
    path(d='M32 43.355c7.4 0 13.42-6.02 13.42-13.42 0-7.399-6.02-13.419-13.42-13.419s-13.42 6.02-13.42 13.42c0 7.399 6.02 13.419 13.42 13.419zm0-24.774c6.26 0 11.355 5.094 11.355 11.354 0 6.261-5.094 11.355-11.355 11.355-6.26 0-11.355-5.094-11.355-11.355 0-6.26 5.094-11.354 11.355-11.354z')
    path(d='M25.806 22.13v15.612l16.916-7.807-16.916-7.805zm2.065 3.225l9.923 4.58-9.923 4.582v-9.162zM4.129 49.548h26.839v2.065H4.129zm28.903 0h26.839v2.065H33.032zM4.129 53.677h26.839v2.065H4.129zm28.903 0h26.839v2.065H33.032zM4.129 57.806h26.839v2.065H4.129zm28.903 0h26.839v2.065H33.032zm14.452-28.903h2.065v2.065h-2.065zm4.129 0h2.065v2.065h-2.065zm-37.161 0h2.065v2.065h-2.065zm-4.129 0h2.065v2.065h-2.065z')
