section 
  h3 About Myself
  
  .icon-set
    .portrait
      include ../logos/user.jade
    .icon-design
      include ../logos/design.jade
    .icon-development
      include ../logos/development.jade
    .icon-video
      include ../logos/video.jade
    .icon-maintenance
      include ../logos/maintenance.jade
      
  p.paragraph-content
    strong Nulla porta dolor. Maecenas ullamcorper
    |  porta dolor. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. In turpis. Suspendisse eu ligula. Vivamus quis mi.

  .skill-panel
    .skill-set-container
      .skill-unit
        .skill-label 
          | UI/UX Design
        .skill-icons.active-rating-9
          span
          span
          span
          span
          span
          span
          span
          span
          span
          span
      .skill-unit
        .skill-label 
          | Visual Design
        .skill-icons.active-rating-8
          span
          span
          span
          span
          span
          span
          span
          span
          span
          span
      .skill-unit
        .skill-label 
          | Front-end Development
        .skill-icons.active-rating-8
          span
          span
          span
          span
          span
          span
          span
          span
          span
          span
          
      .skill-unit
        .skill-label 
          | Back-end Development
        .skill-icons.active-rating-7
          span
          span
          span
          span
          span
          span
          span
          span
          span
          span
       

  
    
