section.alt-section.section-contact 
  h3#contact Contact 

section.email 
  a.email-link(href="mailto:designer@gmail.com") designer@gmail.com 
  .social-links 
    a(href="#" class="icon-github")
    a(href="#" class="icon-dribbble")
    a(href="#" class="icon-twitter")
    a(href="#" class="icon-linkedin")


    //- a.biglink(href='mailto:devtipsfordesigners@gmail.com', style='font-size: 114.333px;') devtipsfordesigners@gmail.com
