footer 
  .sitemap 
    .logo 
    .sitemap-content
      nav 
        a(href="#") About Me
        a(href="#") Work
        a(href="#") Clients 
        a(href="#") Contact
        
      p.copyright 
       | © All rights reserved
