header
  .nav-container 
    .logo 
    nav 
      a(href="#") About Me
      a(href="#") Work
      a(href="#") Clients 
      a(href="#") Contact
  .heading   
    h1
      | Minimal Theme
    .kicker 
      p 
        | Designer | Developer
        
  
