header
  .nav-container 
    .logo 
    nav 
      a(href="#") About Me
      a(href="#") Work
      a(href="#") Clients 
      a(href="#") Contact
  
  //- .heading.clear   
  //-   h1
  //-     span
  //-       |  Artist Theme
  //-   .kicker 
  //-     p 
  //-       | Designer | Developer
      
  
