header
  .nav-container 
    .logo 
      //- img(src="./img-min/Logo.svg", alt="")
    nav 
      a(href="#") About Me
      a(href="#") Work
      a(href="#") Clients 
      a(href="#") Contact
  .heading   
    h1
      | Minimal Theme
    .kicker 
      p 
        | Designer | Developer
        
  
