header
  .nav-container 
    .logo 
    nav 
      a(href="#") About Me
      a(href="#") Work
      a(href="#") Clients 
      a(href="#") Contact
  .heading.clear   
    h1
      span
        |  Minimal Theme
    .kicker 
      p 
        | Designer | Developer
      
  
