section.alt-section
  h3#work Work
  .thumb-container 
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/green-forest-night-thumb.jpg")
      div.thumb-overlay
        strong Test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/one-page-site-thumb.jpg")
      div.thumb-overlay
        strong Test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/stuntman-on-motorcycle-thumb.jpg")
      div.thumb-overlay
        strong Test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/app-for-events-thumb.jpg")
      div.thumb-overlay
        strong Test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/city-exploration-thumb.jpg")
      div.thumb-overlay
        strong Test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/app-for-events-thumb.jpg")
      div.thumb-overlay
        strong Test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/app-for-events-thumb.jpg")
      div.thumb-overlay
        strong Test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/app-for-events-thumb.jpg")
      div.thumb-overlay
        strong Test test

              
