section.alt-section
  h3#work Work
  .thumb-container 
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/green-forest-night-thumb.jpg")
      div.thumb-overlay
      div.text-overlay
        strong Test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/one-page-site-thumb.jpg")
      div.thumb-overlay
      div.text-overlay
        strong Test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/stuntman-on-motorcycle-thumb.jpg")
      div.thumb-overlay
      div.text-overlay
        strong Test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/ripple-projects-thumb.jpg")
      div.thumb-overlay
      div.text-overlay
        strong Test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/city-exploration-thumb.jpg")
      div.thumb-overlay
      div.text-overlay
        strong Test        
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/aircon-controller-thumb.jpg")
      div.thumb-overlay
      div.text-overlay
        strong Test test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/mobile-banking-thumb.jpg")
      div.thumb-overlay
      div.text-overlay
        strong Test
    a.thumb-unit(href="#")
      img.img-portfolio(src="../img-min/app-for-events-thumb.jpg")
      div.thumb-overlay
      div.text-overlay
        strong Test
  .work-container 
    h4 Do Work
    div(style="width: 600px; height: 600px; background: #666;")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque recusandae hic, animi esse ipsum optio qui aperiam assumenda dolorem iure, alias doloremque harum modi obcaecati iste voluptatibus quibusdam, rem, possimus.
    div(style="width: 600px; height: 600px; background: #666;")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque recusandae hic, animi esse ipsum optio qui aperiam assumenda dolorem iure, alias doloremque harum modi obcaecati iste voluptatibus quibusdam, rem, possimus.
    div(style="width: 600px; height: 600px; background: #666;")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque recusandae hic, animi esse ipsum optio qui aperiam assumenda dolorem iure, alias doloremque harum modi obcaecati iste voluptatibus quibusdam, rem, possimus.
