section.alt-section.section-work
  h3#work Work
  .work-belt
    .thumb-wrap
      .thumb-container
        a.thumb-unit(data-folder="work-1" href="#")
          img.img-portfolio(src="../img-min/thumb/green-forest-night-thumb.jpg")
          div.thumb-overlay
          div.text-overlay
            h4 Green Forest Night
            h5 Vitalliy Vill
        a.thumb-unit(data-folder="work-2" href="#")
          img.img-portfolio(src="../img-min/thumb/one-page-site-thumb.jpg")
          div.thumb-overlay
          div.text-overlay
            h4 One Page Site
            h5 Daniel Klopper
        a.thumb-unit(data-folder="work-3" href="#")
          img.img-portfolio(src="../img-min/thumb/stuntman-on-motorcycle-thumb.jpg")
          div.thumb-overlay
          div.text-overlay
            h4 Stuntman on Motorcycle
            h5 Anton Fritsler(kit8)
        a.thumb-unit(data-folder="work-4" href="#")
          img.img-portfolio(src="../img-min/thumb/ripple-projects-thumb.jpg")
          div.thumb-overlay
          div.text-overlay
            h4 Ripple Projects
            h5 Hanna Tran
        a.thumb-unit(data-folder="work-5" href="#")
          img.img-portfolio(src="../img-min/thumb/city-exploration-thumb.jpg")
          div.thumb-overlay
          div.text-overlay
            h4 City Exploration     
            h5 Vilém Ries
        a.thumb-unit(data-folder="work-6" href="#")
          img.img-portfolio(src="../img-min/thumb/aircon-controller-thumb.jpg")
          div.thumb-overlay
          div.text-overlay
            h4 Aircon Mobile App
            h5 Grace Saraswati
        a.thumb-unit(data-folder="work-7" href="#")
          img.img-portfolio(src="../img-min/thumb/mobile-banking-thumb.jpg")
          div.thumb-overlay
          div.text-overlay
            h4 Mobile Banking
            h5 Bady
        a.thumb-unit(data-folder="work-8" href="#")
          img.img-portfolio(src="../img-min/thumb/app-for-events-thumb.jpg")
          div.thumb-overlay
          div.text-overlay
            h4 App for Events
            h5 Jakub Antalik
    .work-wrap
      .work-container 
        .return 
          include ../icons/back-icon.jade
          h4.project-name
          h5.author 
        .project-load

        
  
