section.section-clients
  h3#testimonials Clients
  
  div.client-controls
    .client-control-next 
      include ../icons/next.jade
    .client-control-prev 
      include ../icons/prev.jade
  
  div.clients-belt 
    .client-unit.active-client
      .client-testimonial
        .client-quotation-mark-up
          include ../icons/quotation-up.jade
        .client-quotation-mark-down
          include ../icons/quotation-down.jade
        p 
          strong Lorem ipsum dolor sit amet, 
          | consectetur adipisicing elit. Odio, ullam necessitatibus odit eum obcaecati! Dolorum iusto cupiditate consequuntur alias delectus consectetur nulla, totam, autem, quisquam, velit ea unde fuga. Expedita.  
    .client-unit 
      .client-testimonial
        .client-quotation-mark-up
          include ../icons/quotation-up.jade
        .client-quotation-mark-down
          include ../icons/quotation-down.jade
        p 
          strong Lorem ipsum dolor sit amet, 
          | consectetur adipisicing elit. Odio, ullam necessitatibus odit eum obcaecati! Dolorum iusto cupiditate consequuntur alias delectus consectetur nulla, totam, autem, quisquam, velit ea unde fuga. Expedita.  
    .client-unit 
      .client-testimonial
        .client-quotation-mark-up
          include ../icons/quotation-up.jade
        .client-quotation-mark-down
          include ../icons/quotation-down.jade
        p 
          strong Lorem ipsum dolor sit amet, 
          | consectetur adipisicing elit. Odio, ullam necessitatibus odit eum obcaecati! Dolorum iusto cupiditate consequuntur alias delectus consectetur nulla, totam, autem, quisquam, velit ea unde fuga. Expedita.
    .client-unit 
      .client-testimonial
        .client-quotation-mark-up
          include ../icons/quotation-up.jade
        .client-quotation-mark-down
          include ../icons/quotation-down.jade
        p 
          strong Lorem ipsum dolor sit amet, 
          | consectetur adipisicing elit. Odio, ullam necessitatibus odit eum obcaecati! Dolorum iusto cupiditate consequuntur alias delectus consectetur nulla, totam, autem, quisquam, velit ea unde fuga. Expedita.  
  
  div.client-list 
    .client-logo.active-client 
      img(src="./img-min/company/Company-1.png", alt="")
    .client-logo
      img(src="./img-min/company/Company-2.png", alt="")
    .client-logo
      img(src="./img-min/company/Company-3.png", alt="")
    .client-logo 
      img(src="./img-min/company/Company-4.png", alt="")

  
