.section-contact {
  form {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 600px;
    margin: 50px auto;
    input,textarea {
      border: 1.5px solid rgb(176, 176, 176);
      width: 100%;
      padding: 10px;
      @include transition(.2s ease-in)
      &:focus {
        outline: none;
        border-color: rgb(44, 44, 45);
        @include transition(.2s ease-in)
      }
    }
    textarea {
      height: 18em;
      margin-bottom: 10px;
      resize: none;

    }
    .submit-wrap {
      text-align: right;
      input[type="submit"] {
        background: black;
        color: white;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        @include transition(.3s ease-in)
        cursor: pointer;
        width: 30%;
        &:hover {
          background: white;
          border-color: black;
          color: black;
          @include transition(.3s ease-in)
        }
      }
    }
    .info-group {
      border: 0;
      margin: 0;
      padding: 0;
      label {
        width: 50%;
        float: left;
        @include box-sizing(border-box);
        box-sizing: border-box;
        font-size: 18px;
        font-weight: 300;
        span {
          margin-bottom: 10px;
        }

        &:nth-child(1) {
          padding-right: 5px;
        }
        &:nth-child(2) {
          padding-left: 5px;
        }
      }
    }
    label {
      display: block;
      margin-bottom: 20px;
      span {
        display: block;
      }
    }
  }
}


.email {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  .email-link {
    letter-spacing: .1em;

    text-decoration: none;
    color: black;
    font-size: 72px;
    @include transition(.3s ease-in);
    &:hover {
      color: #a1a1a1;
      opacity: 0.5;
      @include transition(.3s ease-in);
    }
  }

  .bar{
    width: 250px;
    height: 0px;
    border-top: 4px solid black;
    margin: 30px auto;
  }
}

.social-links {
  max-width: 700px;
  margin: 0 auto;
  @include display(flex);
  @include justify-content(space-around);
  display: flex;
  justify-content: space-around;

  a {
    display: block;
    background: #3B413C;
    @include size(50px);
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: white;
    text-decoration: none;
    @include transition(.3s ease-out);
    margin-top: 20px;
    margin-bottom: 20px;

    &:hover {
      @include transform (translate(0px,-10px));
      margin-bottom: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

@include breakpoint-991-lg {
  .email {
    .email-link {
      font-size: 8vw;
    }
  }
}
