.alt-bg {
  background: #f7f7f7;
}

// Grid
.thumb-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 0;
  font-size: 0;
  .grid {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // hover animation
    &:hover {
      .img-portfolio {
        transform: scale(1.05);
      }
      .overlay-bg {
        opacity: 0.8;
      }
      .overlay-text {
        transform: translateY(0px);
        opacity: 0.9;
      }
    }
    a {
      display: block;
      position: relative;
      overflow: hidden;
      .img-portfolio {
        display: block;
        width: 100%;
        height: auto;
        border: none;
        transform: scale(1);
        transition: all 1s;
      }

      .overlay-bg {
        @include position(absolute, 0 0 0 0);
        display: block;
        margin: auto;
        background: #373d40;
        background-size: 50px 50px;
        opacity: 0;
        transition: all 0.6s;
        overflow: hidden;
      }
      .overlay-text {
        display: block;
        padding: 0 30px;
        box-sizing: border-box;
        @include position(absolute, 40% 0 0 0);
        width: 100%;
        text-align: center;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: bold;
        font-weight: normal!important;
        color: white;
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translateY(-20px);
        transition: all .3s;
        h4 {
          font-size: 20px;
        }
      }
    }
  }
}

// Full-width
@include breakpoint-1200-lg {
  .thumb-container .grid {
    width: 25%;
  }
}

// 2-col-grid
@include breakpoint-991-lg {
  .thumb-container .grid {
    width: 50%;
  }
}

// 1-col-grid
@include breakpoint-580-lg {
  .thumb-container .grid {
    width: 100%;
  }
}

.alt-section{
  background: #f7f7f7;
}

.section-work {
  overflow-x: hidden;
}
// Default container for the portfolio section
// By default the .work-wrap is position farthest to the right when user clicks on one of the portfolio it shows each of the portfolio details in a centered single column
.work-belt {
  width: 200%;
  position: relative;
  left: 0%;
  @include transition(all 800ms);
}

.thumb-wrap, .work-wrap {
  width: 50%;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
}

// Old Code
// .alt-section{
//   background: #f7f7f7;
// }
//
// .section-work {
//   overflow-x: hidden;
// }
// // Default container for the portfolio section
// // By default the .work-wrap is position farthest to the right when user clicks on one of the portfolio it shows each of the portfolio details in a centered single column
// .work-belt {
//   width: 200%;
//   position: relative;
//   left: 0%;
//   @include transition(all 800ms);
// }
//
// .thumb-wrap, .work-wrap {
//   width: 50%;
//   float: left;
//   padding-top: 50px;
//   padding-bottom: 50px;
// }
//
// .thumb-container {
//   max-width: 100%;
//   margin: 0px auto;
//   padding-bottom: 80px;
//   padding-top: 80px;
//   // @include clearfix;
//   font-size: 0;
//
//   // Old Code
//   // .grid {
//   //   display: inline-block;
//   //   width: 25%;
//   //   vertical-align: middle;
//   //   box-sizing: border-box;
//   //   margin: 0;
//   //   padding: 0;
//   //   &:hover {
//   //     .thumb-unit {
//   //       transform: scale(1.05);
//   //     }
//   //     .overlay-bg {
//   //       opacity: 0.8;
//   //     }
//   //   }
//   //   a {
//   //     display: block;
//   //     position: relative;
//   //     overflow: hidden;
//   //     .thumb-unit {
//   //       display: block;
//   //       width: 100%;
//   //       height: auto;
//   //       border: none;
//   //       transform: scale(1);
//   //       transition: all 1s;
//   //     }
//   //
//   //     .overlay-bg {
//   //       @include position(absolute, 0 0 0 0);
//   //       display: block;
//   //       margin: auto;
//   //       background-size: 50px 50px;
//   //       background: #343d40;
//   //       opacity: 0;
//   //       transition: all 0.6s;
//   //       overflow: hidden;
//   //     }
//   //
//   //     .overlay-text {
//   //       display: block;
//   //       // padding: 0 30px;
//   //       box-sizing: border-box;
//   //       // @include position(absolute, 40% 0 0 0);
//   //       width: 100%;
//   //       text-align: center;
//   //       text-transform: capitalize;
//   //       font-size: 18px;
//   //       font-weight: bold;
//   //       font-weight: normal!important;
//   //       color: white;
//   //       opacity: 0;
//   //       filter: alpha(opacity=0);
//   //       transform: translateY(-20px);
//   //       transition: all .3s;
//   //       h4 {
//   //         font-size: 20px;
//   //       }
//   //     }
//   //   }
//   // }
//   // End Old Code
//
//     .thumb-unit {
//       display: block;
//       width: 25%;
//       float: left;
//       position: relative;
//       padding-top: 25%;
//       overflow:hidden;
//       background: center center;
//       background-repeat: no-repeat;
//       background-size: cover;
//     }
//
//
//     .thumb-overlay {
//       // @include position(absolute, 100% 0px null 0px)
//       // height: 100%;
//       background: rgba(55, 61, 64, .9);
//       text-align: center;
//       @include transition;
//       @include display(flex);
//       @include align-items(center);
//       @include justify-content(space-around);
//       &:hover .thumb-overlay {
//         @include position(absolute, 0% 0px null 0px)
//       }
//
//       h4 {
//         display: block;
//         padding: 20px;
//         color: white;
//         font-size: 24px;
//         line-height: 1.2;
//       }
//
//       h5 {
//         display: block;
//         padding: 20px;
//         color: white;
//         line-height: 1.2;
//       }
//     }
// }
//
// // 2-col-grid on 991 lg screens
// @include breakpoint-991-lg {
//   .thumb-container {
//     .thumb-unit {
//       width: 50%;
//       // padding-top: 26%;
//     }
//   }
// }
//
// // work-container on click
// .work-container {
//   max-width: 600px;
//   margin: 0 auto;
//   position: relative;
//   display: none;
//
//   img {
//     max-width: 100%;
//     margin-bottom: 20px;
//   }
//   .return {
//     @include clearfix;
//     margin-bottom: 20px;
//     margin-left: 30px;
//     margin-right: 30px;
//
//     svg.back-icon {
//       @include size(40px);
//       cursor: pointer;
//       opacity: 0.5;
//       display: inline-block;
//       float: left;
//
//       path {
//         fill: rgba(0,0,0,0.5);
//       }
//       &:hover {
//         opacity: 1;
//       }
//     }
//     h4 {
//       font-weight: 700;
//       text-transform: uppercase;
//       font-size: 26px;
//       line-height: 1.6;
//       margin: 0 0 0 20px;
//       display: inline-block;
//     }
//     h5 {
//       font-size: 18px;
//       font-weight: 700;
//       margin: 10px 0;
//     }
//   }
//   .project-load {
//     margin: 0 20px;
//     p {
//       margin: 20px 10px;
//       text-align: justify;
//       text-justify: inter-word;
//     }
//   }
// }
//
// // Fixes on Mobile
// @include breakpoint-580-lg {
//   .work-container {
//     .return {
//       svg.back-icon {
//         display: block;
//         float:none;
//       }
//       h4 {
//         margin: 10px 0;
//         display: block;
//       }
//     }
//   }
// }
