.section-clients {
  position: relative;
}
.client-controls{
  @include position(absolute, 40% 0px null 0px);
  // z-index: 2;
  // @include size(100%);
  > div {
    height: 40px;
    width: 40px;
    margin-top: -10px;
    cursor: pointer;
  }
  .client-control-next {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
  }
  .client-control-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    cursor: pointer;
  }
}

.clients-belt {
  width: 100%;
  position: relative;
  .client-unit {
    max-width: 700px;
    margin: 0 0 0 -340px;
    @include position (absolute, 0px null null 50%);
    z-index: 1;
    display: none;
    &.active-client {

      @include display(flex);
      animation: fadein 3s;
      -moz-animation: fadein 3s; /* Firefox */
      -webkit-animation: fadein 3s; /* Safari and Chrome */
      -o-animation: fadein 3s; /* Opera */
    }
    .client-testimonial {
      position: relative;
      font-size: 18px;
      line-height: 2;
      color: #777777;
      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
      p {
        margin: 20px 0;
        strong {
          color: #000;
        }
      }
      .client-quotation-mark-up { // quotation mark icon
        @include position(absolute, -10px null null -10px)
        z-index: -1;
        opacity: 0.5;
        display:block;
      }
      .client-quotation-mark-down {
        @include position(absolute, -10px null null 650px)
        z-index: -1;
        opacity: 0.5;
        display:block;
      }
    }
  }
}

.client-list {
  position: relative;
  width: 700px;
  // margin: 0px auto 100px;
  margin: 200px auto 100px;
  @include display(flex);
  @include align-items(flex-end);
  @include justify-content(space-around);
  .client-logo {
    margin: 0 auto;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: solid 4px transparent;
    @include transition(all 0.5s ease-in);
    @include filter(grayscale(80%));
    &.active-client {
      border-bottom: solid 4px #d0d0d0;
      @include transition(all 0.5s ease-in);
      @include filter(grayscale(0%));
    }
    img {
      height: auto;
      width: 100px;
      margin: 0 auto;
    }
  }
}
