svg(width='56', height='65', viewbox='0 0 56 65', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  title development
  defs
    path#a(d='M8.18 32.816h18.247v9.466H8.18z')
    mask#c(x='0', y='0', width='18.247', height='9.466', fill='#fff')
      use(xlink:href='#a')
    path#b(d='M30.202 32.816h18.247v9.466H30.202z')
    mask#d(x='0', y='0', width='18.247', height='9.466', fill='#fff')
      use(xlink:href='#b')
  g(fill='none', fill-rule='evenodd')
    path(d='M.298 64.686h55.404V.318H.298v64.368zM2.35 2.54h51.3v6.668H2.35V2.54zm0 8.89h51.3v51.363H2.35V11.431z', fill='#000')
    path(fill='#000', d='M4.402 4.763h2.052v2.223H4.402zm4.104 0h2.052v2.223H8.506zm4.104 0h2.052v2.223H12.61zm-.655 14.8v.916l1.007 6.41h2.153l1.207-2.531 1.207 2.531h2.152l.995-6.26.012-1.066h-1.746v.84l-.638 4.016-1.982-4.156-1.983 4.156-.637-4.016v-.84zm24.539 0v.916l1.007 6.41h2.153l1.207-2.531 1.207 2.531h2.153l.994-6.26.013-1.066H43.48v.84l-.638 4.016-1.982-4.156-1.982 4.156-.638-4.016v-.84zm-12.584 0v.916l1.007 6.41h2.153l1.207-2.531 1.207 2.531h2.152l.995-6.26.012-1.066h-1.746v.84l-.638 4.016-1.982-4.156-1.983 4.156-.637-4.016v-.84zM8.18 15.777h40.173v1.831H8.18zm0 12.621h40.173v1.831H8.18zm0 17.67h18.247v1.831H8.18zm22.022 0h18.247v1.831H30.202zM8.18 51.117h18.247v1.831H8.18zm22.022 0h18.247v1.831H30.202zM8.18 56.165h18.247v1.831H8.18zm22.022 0h18.247v1.831H30.202zm-8.809-30.922h1.747v1.831h-1.747zm11.955 0h1.747v1.831h-1.747z')
    use(stroke='#000', mask='url(#c)', stroke-width='4', xlink:href='#a')
    use(stroke='#000', mask='url(#d)', stroke-width='4', xlink:href='#b')
