svg.next(width='40', height='40', viewbox='0 0 253 478', xmlns='http://www.w3.org/2000/svg')
  path(d='M33.2 238.6L248.7 23c5.3-5.2 5.3-13.7 0-19-5.3-5.3-13.8-5.3-19 0L4.4 229c-5.3 5.4-5.3 14 0 19.2l225 225c2.7 2.6 6.2 4 9.6 4 3.5 0 7-1.3 9.6-4 5.3-5.3 5.3-13.8 0-19L33.2 238.5z', fill='#000', fill-rule='evenodd')
